$primary:#07689F;
$secondary: #b3bfc7;
$success: #11d3bc;
$danger: #f67280;
$info: #a2d5f2;
$warning:#ffc107;
$light: #fafafa;
$dark:#4e4e4e;

$borderRadius:0.1rem;

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false ) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $spread $color !important;
    -moz-box-shadow: inset $top $left $blur $spread $color !important;
    box-shadow: inset $top $left $blur $spread $color !important;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color !important;
    -moz-box-shadow: $top $left $blur $spread $color  !important;
    box-shadow: $top $left $blur $spread $color  !important;
  }
}