@import "init.scss";

@mixin btnOutline($color) {

  background-color: darken($color, 5%) !important;
  border-color: darken($color, 5%) !important;
  @include box-shadow(0, 0, 0, 0.1rem, lighten($color, 10%), false) ;
}

.btn {
  border-radius: $borderRadius;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;

  &:hover {
    background-color: darken($primary, 5%);
    border-color: lighten($primary, 20%);
  }

  &:active,
  &:focus {
    @include btnOutline($primary);
  }
}

.btn-secondary {

  background-color: $secondary;
  border-color: $secondary;

  &:hover {
    background-color: darken($secondary, 5%);
    border-color: darken($secondary, 20%);

  }

  &:active,
  &:focus {
    @include btnOutline($secondary);
  }
}

.modal-content {
  border-radius: $borderRadius;
}

.modal-header .close {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}

.close {
  font-weight: 100;
}