@import "init.scss";
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&display=swap&subset=latin-ext');

$fabShadowColor: #666;
$fabActionOffset: 2;
$fabBoxShadow: (0, 6px, 10px, 0, $fabShadowColor);
$fabBoxShadowActive: set-nth($fabBoxShadow, 3, nth($fabBoxShadow, 3) - $fabActionOffset);

h1, h2, h3,
h4, h5, h6 {
  @extend %headings !optional;
}

html, body {
  height: 100%;
  padding: 50px;
}

#main %headings, #main p {
  font-family: 'Dosis', sans-serif;
  color: ghostwhite;
}

#main h3 {
  font-size: 2rem;
}

#main p {
  font-size: 1.3rem;
}


.fab {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  font-size: 40px;
  line-height: 70px;
  color: white;
  background-color: $primary;
  border-radius: 50%;
  text-align: center;
  @include box-shadow($fabBoxShadow...);

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    @include box-shadow($fabBoxShadowActive...);
    transform: scale(0.97);
    background-color: darken($primary, 5%)
  }
}

@media (max-width: 900px) {
  .fab {
    width: 50px;
    height: 50px;
    font-size: 27px;
    line-height: 50px;
    right: 25px;
    bottom: 25px;
  }
}