.fab {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  font-size: 40px;
  line-height: 70px;
  color: white;
  background-color: #07689F;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0 6px 10px #666;
  -moz-box-shadow: 0 6px 10px #666;
  box-shadow: 0 6px 10px #666; }
  .fab:hover {
    transform: scale(1.03); }
  .fab:active {
    -webkit-box-shadow: 0 6px 8px #666;
    -moz-box-shadow: 0 6px 8px #666;
    box-shadow: 0 6px 8px #666;
    transform: scale(0.97);
    background-color: #065887; }

@media (max-width: 900px) {
  .fab {
    width: 50px;
    height: 50px;
    font-size: 27px;
    line-height: 50px;
    right: 25px;
    bottom: 25px; } }
